@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Reset styles */
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1b6583   ;
  --secondary-color: #028090 ;
  --accent1-color: #02C39A;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto";
  --paragraph-font: 'Sans-serif', Helvetica;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1, h2, h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
/*header css*/
header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

/*main css*/

main {
  padding: 20px;
}

.company-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

section figcaption {
  margin-top: 10px;
  font-size: 16px;
  color: #05668D;
}

.employee-profiles figure {
  margin: 10px;
  text-align: center;
}

.employee-profiles img {
  width: 150px;
  border-radius: 50%;
}

.employee-profiles figcaption {
  margin-top: 10px;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type="checkbox"] {
  margin-top: 10px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
  /*footer */
  footer {
    background-color: #05668D;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer p {
    font-size: 14px;
  }
  
  footer a a:hover{
      text-decoration: underline;
  }
  
  .sociallinks a {
    display: flex;
    margin-left: 10px;
    text-decoration: none;
    align-items: center;
  }
  
  .sociallinks img {
    width: 30px;
    height: 30px;
  }